*.Plo
*.Po
*.a
*.la
*.lai
*.lo
*.o
*.so
*.swp
Makefile
Makefile.in
/.libs/
/COPYING
/m4
/TAGS
/INSTALL
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/cscope.files
/cscope.in.out
/cscope.out
/cscope.po.out
/depcomp
/etc/perdition/Makefile.popmap
/etc/rc.d/init.d/perdition.debian
/etc/rc.d/init.d/perdition.rh
/install-sh
/libtool
/ltmain.sh
/makebdb/makebdb
/makegdbm/makegdbm
/missing
/perdition-*.tar.bz2
/perdition-*.tar.gz
/perdition.spec
/perdition/db/daemon/client
/perdition/db/daemon/server
/perdition/perdition
/stamp-h1
