Source: perdition
Build-Depends: libvanessa-logger-dev (>= 0.0.6), libvanessa-adt-dev (>= 0.0.6), libvanessa-socket-dev (>= 0.0.7), libpopt-dev, libpam0g-dev, libmysqlclient15-dev, libpq-dev, libgdbm-dev, libldap2-dev, debhelper (>= 4.0.0), zlib1g-dev, libssl-dev, libtool, unixodbc-dev, libdb4.3-dev
Section: mail
Priority: optional
Maintainer: Simon Horman <horms@debian.org>
Standards-Version: 3.7.2

Package: perdition
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: perdition-bdb
Replaces: perdition-bdb
Provides: perdition-bdb
Suggests: perdition-ldap, perdition-mysql, perdition-odbc, perdition-postgresql
Description: POP3 and IMAP4 Proxy server
 Perdition allows users to connect to a content-free POP3 or IMAP4
 server that will redirect them to their real POP3 or IMAP4 server. This
 enables mail retrieval for a domain to be split across multiple backend
 servers on a per user basis. This can also be used to as a POP3 or IMAP4
 proxy especially in firewall applications. Perdition supports arbitrary
 library based map access to determine the server for a user. POSIX
 Regular Expression, GDBM, Berkely DB, MySQL, PostgreSQL, ODBC and LDAP 
 libraries ship with the distribution.

Package: perdition-dev
Architecture: any
Depends: perdition (= ${Source-Version}), libvanessa-logger-dev (>= 0.0.5), libvanessa-adt-dev (>= 0.0.5), libvanessa-socket-dev (>= 0.0.6), libc6-dev
Description: Development libraries and headers for perdition
 Perdition allows for arbitrary user database access through
 shared libraries much in the manner of NSS in glibc. This package
 provides headers and libraries that may be useful in the development
 of perditiondb libraries.

Package: perdition-ldap
Architecture: any
Depends: ${shlibs:Depends}, perdition (= ${Source-Version})
Description: Library to allow perdition to access LDAP based popmaps
 Perdition allows for arbitrary user database access through
 shared libraries much in the manner of NSS in glibc. This package
 allows a user database to be sourced from LDAP

Package: perdition-mysql
Architecture: any
Depends: ${shlibs:Depends}, perdition (= ${Source-Version})
Description: Library to allow perdition to access MySQL based popmaps
 Perdition allows for arbitrary user database access through
 shared libraries much in the manner of NSS in glibc. This package
 allows a user database stored in a MySQL database.

Package: perdition-odbc
Architecture: any
Depends: ${shlibs:Depends}, perdition (= ${Source-Version})
Description: Library to allow perdition to access ODBC based popmaps
 Perdition allows for arbitrary user database access through
 shared libraries much in the manner of NSS in glibc. This package
 allows a user database stored in a database accessed via ODBC.

Package: perdition-postgresql
Architecture: any
Depends: ${shlibs:Depends}, perdition (= ${Source-Version})
Description: Library to allow perdition to access PostgreSQL based popmaps
 Perdition allows for arbitrary user database access through
 shared libraries much in the manner of NSS in glibc. This package
 allows a user database stored in a PostgreSQL database.
